{{#if report}}
  {{benchmark-report report=report}}
{{/if}}

<h4>
  Tests:
  <button {{action "selectAllTests"}} type="button" class="btn btn-default btn-xs">All</button>
  <button {{action "selectNoTests"}} type="button" class="btn btn-default btn-xs">None</button>
</h4>

<div class="form-group">
  {{#each model as |test|}}
    <div>
      <label>{{input type="checkbox" checked=test.isEnabled}} {{test.name}}</label>
    </div>
  {{/each}}
</div>

<h4>
  Versions:
  <button {{action "selectAllVersions"}} type="button" class="btn btn-default btn-xs">All</button>
  <button {{action "selectNoVersions"}} type="button" class="btn btn-default btn-xs">None</button>
</h4>
<div class="form-group">
  {{#each emberVersions as |emberVersion|}}
    <div>
      <label>
        {{input type="checkbox" checked=emberVersion.isEnabled}} {{emberVersion.name}}
        {{#if emberVersion.isCustom}}
          {{#if emberVersion.isEnabled}}
            <br />PATH: {{input value=emberVersion.path}}
            <br />COMPILER PATH: {{input value=emberVersion.compilerPath}}
          {{/if}}
        {{/if}}
      </label>
    </div>
  {{/each}}
</div>

<label>Feature Flags</label>
{{#if featureFlags}}
  <table class='table'>
    <tbody>
      {{#each featureFlags as |featureFlag|}}
        <tr>
          <td style='width: 20%'>{{featureFlag}}</td>
          <td>
            <button class="btn btn-danger btn-xs" {{action "removeFeature" featureFlag}}>remove</button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/if}}
<div class='form-group'>
  {{input value=newFlagName placeholder="Flag Name"}}
  <button class="btn :btn-default :btn-xs {{if addFeatureDisabled 'disabled'}}" {{action "addFeature"}}>Add Feature</button>
</div>

<div class='footer'>
  <button class='btn btn-primary' {{action "start"}} disabled={{cantStart}}>Run Tests</button>
  <button class='btn btn-primary' {{action "profile"}} disabled={{cantStart}}>Run Tests with Profile</button>
</div>
